* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #edf2ff;
}

.container {
  text-align: center;
  width: 300px;
  margin: 60px auto;
}

img {
  width: 100%;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: #4263eb solid 4px;
  padding: 4px;
}

ul {
  list-style: none;
  margin: 48px 0;
}

h1 {
  margin-top: 24px;
  margin-bottom: 8px;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 53px;
  background: #4263e8;
  border-radius: 6px;
  margin-bottom: 16px;
  transition: 0.2s;
  text-decoration: none;
  color: #edf2ff;
}

ul li a:hover {
  filter: brightness(1.3);
}
